* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --darkerPink--: #ff217c;
  --mainPinkColor--: #fe5e78;
  --lightPink--: #ff8eb1;
  --mainBlue--: #25b6c3;
  --lighterPink--: rgb(243, 209, 214);
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: rgb(246, 216, 221);
}

.navbar {
  display: flex;
  height: 100px;
  width: 100%;
  color: transparent;
  background-color: var(--mainBlue--);
  justify-content: space-between;
  align-items: center;
}

#navbar_logo {
  background-image: linear-gradient(
    to top,
    var(--mainPinkColor--) 30%,
    white 150%
  );
  display: flex;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  text-decoration: double;
}

#logo {
  margin-top: 5px;
  height: 25px;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  filter: invert(67%) sepia(51%) saturate(6481%) hue-rotate(317deg)
    brightness(104%) contrast(99%);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.navbar_menu {
  display: flex;
  justify-content: space-between;
}

.navbar_item {
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  margin: 7px;
  cursor: pointer;
  background-size: 100%;
  border-radius: 12px;
  position: relative;
  display: inline-block;
}

#homepageLogo {
  background-image: url(/IMAGES/homepageIcon.jpg);
  border: none;
  background-repeat: round;
  background-size: contain;
  box-sizing: border-box;
}

#settingsLogo {
  background-image: url(/IMAGES/settingsLogo.png);
  border: none;
  background-repeat: round;
  background-size: contain;
  box-sizing: border-box;
}

#calendarLogo {
  background-image: url(/IMAGES/list.jpg);
  border: none;
  background-repeat: round;
  background-size: contain;
  box-sizing: border-box;
  border-color: #ff217c;
}

#main,
#set,
#cal {
  visibility: hidden;
  color: white;
  text-align: center;
  background-color: var(--lightPink--);
  padding: 5px 4px;
  border-radius: 6px;
  position: absolute;
}

#homepageLogo:hover ~ #main {
  visibility: visible;
  bottom: 85%;
}

#settingsLogo:hover ~ #set {
  visibility: visible;
  bottom: 85%;
}

#calendarLogo:hover ~ #cal {
  visibility: visible;
  bottom: 85%;
}

.setMenu {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--lightPink--);
  position: absolute;
  color: white;
  list-style: none;
  height: 77px;
  width: 100px;
  bottom: 78%;
  right: 1%;
  box-sizing: border-box;
  z-index: 1;
  translate: 0px -20px;
  transition: 0.4s;
  border-radius: 10px;
}

.setMenu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.setMenu > li > a {
  padding: 10px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--lightPink--);
  color: white;
  justify-content: center;
  text-decoration: none;
}

#profile {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid var(--mainPinkColor--);
  border-left: 2px solid var(--mainPinkColor--);
  border-right: 2px solid var(--mainPinkColor--);
}

#logOut {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid var(--mainPinkColor--);
}

.setMenu > li > a:hover {
  background-color: white;
  color: var(--mainPinkColor--);
}

.visible {
  visibility: visible;
  opacity: 1;
  translate: 0;
}

.bodyPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.friends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 17%;
  height: 100%;
  background-color: white;
  position: relative;
}

#nameListFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainPinkColor--);
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 2%;
  padding: 10px;
}

.friendsList {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  color: var(--mainBlue--);
  min-height: 560px;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.friend {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.friend:hover {
  background-color: var(--mainPinkColor--);
  color: white;
  cursor: pointer;
}

.addFriendPlus {
  position: absolute;
  bottom: 1.6rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--mainPinkColor--);
  border: 2px solid var(--mainPinkColor--);
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.addFriendPlus:hover {
  opacity: 1;
}

.addFriendPlus i {
  pointer-events: none;
}

.section {
  width: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-friend-wrapper {
  position: absolute;
  bottom: 50px;
  right: 54%;
  width: 270px;
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  transform: translateX(-50%);
  transition: max-height 0.5s;
}

.add-friend-wrapper.active {
  max-height: 450px;
}

.add-friend-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--mainPinkColor--);
  border-bottom: 1px solid var(--lighterPink--);
}

.add-friend-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-friend-header .close:hover {
  color: var(--mainPinkColor--);
}

.add-friend-header .title {
  font-size: 1.25rem;
  font-weight: 500;
}

.add-friend-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.add-friend-body .add-friend-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-friend-body .add-friend-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--lighterPink--);
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--mainPinkColor--);
}

.add-friend-body .add-friend-input input::placeholder {
  color: var(--lightPink--);
}

.add-friend-body .add-friend-input input:hover {
  border-color: var(--mainPinkColor--);
}

.add-friend-body .add-friend-input input:hover::placeholder {
  color: var(--mainPinkColor--);
}

.add-friend-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-friend-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: white;
  background-color: var(--mainPinkColor--);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--mainPinkColor--);
}

.add-friend-btn:hover {
  color: var(--mainPinkColor--);
  background-color: transparent;
}

.add-friend {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--lighterPink--);
  border: 2px solid var(--lighterPink--);
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.add-friend:hover {
  opacity: 1;
}

.add-friend i {
  pointer-events: none;
}

.inviteFriendwrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: var(--mainPinkColor--);
border-radius: 10px;
height: 400px;
width: 600px;
color:white;
padding: 20px;
font-style: italic;
}

.inviteFriendwrapper .title{
  font-weight: 800;
  font-size: xx-large;
  padding: 10px;
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-event-btn {
  height: 50px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: var(--lightPink--);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}

.add-event-btn:hover {
  color: var(--mainPinkColor--);
  font-size: x-large;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .section {
    width: 80%;
  }

.friends{
  width: 30%;
}
.add-friend-wrapper{
  left: 40%;
  width: 250px;
}

.inviteFriendwrapper{
  width: 90%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
}
